<h2>Products Page</h2>
<button class="my-button" [routerLink]="['add']" style="margin-bottom: 10px;">Add Product</button>
<table>
    <tr>
        <th>Id</th>&nbsp;
        <th>Title</th>&nbsp;
        <th>Price</th>&nbsp;
        <th>Action</th>&nbsp;
    </tr>
    <tr *ngFor="let post of (Post | async)">
          <td>  {{post.id}}</td>&nbsp;
          <td>  {{post.title}}</td>&nbsp;
          <td>  {{post.price}}</td>
          <td><button class="my-button" [routerLink]="['edit',post.id]">Update</button></td>
          <td><button class="my-button" [routerLink]="['product-list',post.id]">Details</button></td>
    </tr>
</table>

<router-outlet></router-outlet>